<h2 class="center">Checklists</h2>

<% if @checklists.any? %>
    <% @checklists.each do |checklist| %>
        <%= render "partials/card_checklist", checklist: checklist %>   
    <% end %>

    <%= will_paginate @checklists, renderer: BootstrapPagination::Rails, class: "pagination" %>
<% else %>
    <h3 class="center">You don't have a checklist</h2>
<% end %>
